#i1 {
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.divinner {
    text-align: center;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#2ba681, #562ab5, #6de815);
    color: white;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    text-align: center;
}

#hobby {
    padding: 200px;
    list-style: none;
    position: absolute;
    z-index: 10;
    margin-left: 380px;
}

#para1{
    padding: 300px;
    position: absolute;   
}



